Movie Recommendation

Import libraries

In [3]:
import pandas as pd
import numpy as np

Collect Data

In [4]:
# we can get data by using URL.For convinience here we are using local data

df = pd.read_csv("Movies.csv")

In [5]:
df.head(3)

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [7]:
df.describe()

,Movie_ID,Movie_Budget,Movie_Popularity,Movie_Revenue,Movie_Runtime,Movie_Vote,Movie_Vote_Count
count,4760.000000,4.760000e+03,4760.000000,4.760000e+03,4758.000000,4760.000000,4760.000000
mean,2382.566387,2.920129e+07,21.599510,8.263743e+07,107.184111,6.113866,692.508403
std,1377.270159,4.075620e+07,31.887919,1.630554e+08,21.960332,1.141294,1235.007337
min,1.000000,0.000000e+00,0.000372,0.000000e+00,0.000000,0.000000,0.000000
25%,1190.750000,9.257500e+05,4.807074,0.000000e+00,94.000000,5.600000,55.000000
50%,2380.500000,1.500000e+07,13.119058,1.944716e+07,104.000000,6.200000,238.000000
75%,3572.250000,4.000000e+07,28.411929,9.341276e+07,118.000000,6.800000,740.250000
max,4788.000000,3.800000e+08,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [8]:
df.shape

(4760, 21)

In [9]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

GET FEATURE SELECTION

In [10]:
# Here some of the columns have nul values while getting features. fill them using fill_na

df_features = df[['Movie_Genre', 'Movie_Keywords', 'Movie_Tagline', 'Movie_Cast', 'Movie_Director']].fillna('')

In [11]:
df_features.shape

(4760, 5)

In [12]:
df_features.head(4)

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis

In [13]:

X= df_features['Movie_Genre'] +'  ' + df_features['Movie_Keywords']+'  ' + df_features['Movie_Tagline'] +'  '+ df_features['Movie_Cast']+'  '+df_features['Movie_Director']

In [14]:
X

0       Crime Comedy  hotel new year's eve witch bet h...
1       Adventure Action Science Fiction  android gala...
2       Animation Family  father son relationship harb...
3       Comedy Drama Romance  vietnam veteran hippie m...
4       Drama  male nudity female nudity adultery midl...
                              ...
4755    Horror    The hot spot where Satan's waitin'. ...
4756    Comedy Family Drama    Itâ€™s better to stand ou...
4757    Thriller Drama  christian film sex trafficking...
4758                                       Family
4759    Documentary  music actors legendary perfomer c...
Length: 4760, dtype: object

In [15]:
X.shape

(4760,)

Get FeatureText Converted to Tokens

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
tfidf=TfidfVectorizer()

In [18]:
x = tfidf.fit_transform(X)

In [19]:
x.shape

(4760, 17258)

In [20]:
print(x)

  (0, 617)	0.1633382144407513
  (0, 492)	0.1432591540388685
  (0, 15413)	0.1465525095337543
  (0, 9675)	0.14226057295252661
  (0, 9465)	0.1659841367820977
  (0, 1390)	0.16898383612799558
  (0, 7825)	0.09799561597509843
  (0, 1214)	0.13865857545144072
  (0, 729)	0.13415063359531618
  (0, 13093)	0.1432591540388685
  (0, 15355)	0.10477815972666779
  (0, 9048)	0.0866842116160778
  (0, 11161)	0.06250380151644369
  (0, 16773)	0.17654247479915475
  (0, 5612)	0.08603537588547631
  (0, 16735)	0.10690083751525419
  (0, 7904)	0.13348000542112332
  (0, 15219)	0.09800472886453934
  (0, 11242)	0.07277788238484746
  (0, 3878)	0.11998399582562203
  (0, 5499)	0.11454057510303811
  (0, 7071)	0.19822417598406614
  (0, 7454)	0.14745635785412262
  (0, 1495)	0.19712637387361423
  (0, 9206)	0.15186283580984414
  :	:
  (4757, 5455)	0.12491480594769522
  (4757, 2967)	0.16273475835631626
  (4757, 8464)	0.23522565554066333
  (4757, 6938)	0.17088173678136628
  (4757, 8379)	0.17480603856721913
  (4757, 15303)	0.07654356007668191
  (4757, 15384)	0.09754322497537371
  (4757, 7649)	0.11479421494340192
  (4757, 10896)	0.14546473055066447
  (4757, 4494)	0.05675298448720501
  (4758, 5238)	1.0
  (4759, 11264)	0.33947721804318337
  (4759, 11708)	0.33947721804318337
  (4759, 205)	0.3237911628497312
  (4759, 8902)	0.3040290704566037
  (4759, 14062)	0.3237911628497312
  (4759, 3058)	0.2812896191863103
  (4759, 7130)	0.26419662449963793
  (4759, 10761)	0.3126617295732147
  (4759, 4358)	0.18306542312175342
  (4759, 14051)	0.20084315377640435
  (4759, 5690)	0.19534291014627303
  (4759, 15431)	0.19628653185946862
  (4759, 1490)	0.21197258705292082
  (4759, 10666)	0.15888268987343043

Get Similiarity Score using Cosine Similiarity

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

In [24]:

similarity_score = cosine_similarity(x)

In [25]:
similarity_score

array([[1.        , 0.01351235, 0.03570468, ..., 0.        , 0.        ,
        0.        ],
       [0.01351235, 1.        , 0.00806674, ..., 0.        , 0.        ,
        0.        ],
       [0.03570468, 0.00806674, 1.        , ..., 0.        , 0.08014876,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.08014876, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [26]:
similarity_score.shape

(4760, 4760)

Get Movie Name as Input from User and Validate for Closest Spelling

In [27]:

Favourite_Movie_Name=input(' Enter your favourite movie name : ')

 Enter your favourite movie name : Avatar

In [28]:
All_Movies_Title_List = df[ 'Movie_Title'].tolist()

In [29]:
import difflib

In [30]:
Movie_Recommendation = difflib.get_close_matches (Favourite_Movie_Name, All_Movies_Title_List) 
print (Movie_Recommendation)

['Avatar']

In [31]:
Close_Match = Movie_Recommendation[0]
print (Close_Match)

Avatar

In [32]:
Index_of_Close_Match_Movie =  df[df.Movie_Title==Close_Match]['Movie_ID'].values[0] 
print(Index_of_Close_Match_Movie)

2692

In [35]:
#getting a list of similar movies
Recommendation_Score = list (enumerate (similarity_score[Index_of_Close_Match_Movie])) 
Recommendation_Score[0:20]

[(0, 0.009805093506053453),
 (1, 0.0),
 (2, 0.0),
 (3, 0.00800429043895183),
 (4, 0.0026759665928032302),
 (5, 0.009639835665946627),
 (6, 0.0049636657561850026),
 (7, 0.012848827437220958),
 (8, 0.0027543335470164663),
 (9, 0.00607882290416431),
 (10, 0.007539724639541887),
 (11, 0.0026263170118314906),
 (12, 0.002708340354961457),
 (13, 0.012904730427356216),
 (14, 0.0),
 (15, 0.022556564866386044),
 (16, 0.005959078936688496),
 (17, 0.0),
 (18, 0.013639824714195078),
 (19, 0.008784739948684396)]

In [37]:
len(Recommendation_Score)

4760

In [ ]:
Get All Movies Sort Based on Recommendation Score wrt Favourite Movie

In [38]:
#sorting the movies based on their similarity score
Sorted_Similar_Movies = sorted (Recommendation_Score, key = lambda x:x[1], reverse  =True)
Sorted_Similar_Movies[0:20]

[(2692, 1.0000000000000002),
 (3276, 0.11904275527845871),
 (3779, 0.10185805797079382),
 (62, 0.10153560702418994),
 (2903, 0.10063787314386034),
 (1647, 0.09397055536069451),
 (4614, 0.09362226751043302),
 (4375, 0.09117512301489193),
 (45, 0.08999324643162435),
 (1383, 0.08425242441722802),
 (110, 0.08361784775029485),
 (628, 0.08334515876919323),
 (1994, 0.08287835345252216),
 (2558, 0.08267633224298852),
 (1070, 0.08104448918225104),
 (4378, 0.07894345402700793),
 (1341, 0.07732693809361939),
 (1977, 0.07510309168081497),
 (3465, 0.07411089841255805),
 (3053, 0.0732438108456325)]

In [39]:

#print the name of similar movies based on the index
print("Top 30 Movies Suggested for You: \n")
i=1
 
for movie in Sorted_Similar_Movies:
  index = movie[0]
  title_from_index  = df[df.index==index]['Movie_Title'].values[0]
  if (i<31):
    print(i, ',',title_from_index)
    i+=1

Top 30 Movies Suggested for You:

1 , Niagara
2 , Caravans
3 , My Week with Marilyn
4 , Brokeback Mountain
5 , Harry Brown
6 , Night of the Living Dead
7 , The Curse of Downers Grove
8 , The Boy Next Door
9 , Back to the Future
10 , The Juror
11 , Some Like It Hot
12 , Enough
13 , The Kentucky Fried Movie
14 , Eye for an Eye
15 , Welcome to the Sticks
16 , Alice Through the Looking Glass
17 , Superman III
18 , The Misfits
19 , Premium Rush
20 , Duel in the Sun
21 , Sabotage
22 , Small Soldiers
23 , All That Jazz
24 , Camping Sauvage
25 , The Raid
26 , Beyond the Black Rainbow
27 , To Kill a Mockingbird
28 , World Trade Center
29 , The Dark Knight Rises
30 , Tora! Tora! Tora!

In [42]:

Movie_Name=input('Enter your favourite movie name :')

list_of_all_titles = df['Movie_Title'].tolist()

Find_Close_Match = difflib.get_close_matches(Movie_Name, list_of_all_titles)

Close_Match = Find_Close_Match[0]

Index_of_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]

Recommendation_Score = list(enumerate(similarity_score[Index_of_Movie]))

sorted_similar_movies = sorted (Recommendation_Score, key = lambda x:x[1], reverse = True)

print("Top 10 Movies suggested for you: \n")

i = 1

for movie in sorted_similar_movies:
  index= movie[0]
  title_from_index = df[df.Movie_ID==index]['Movie_Title'].values
  if (i<11):
    print(i, '.', title_from_index)
    i+=1

Enter your favourite movie name :Avatar
Top 10 Movies suggested for you:

1 . ['Avatar']
2 . ['The Girl on the Train']
3 . ['Act of Valor']
4 . ['Donnie Darko']
5 . ['Precious']
6 . ['Freaky Friday']
7 . ['The Opposite Sex']
8 . ['Heaven is for Real']
9 . ['Run Lola Run']
10 . ['Elizabethtown']